<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Jokes API</title>
        <link rel="stylesheet" href="/view/assets/style.css">
        <link rel="stylesheet" href="/view/assets/fonts.css">
    </head>
    <body>
        <div class="container">
            <h1 class="title">Jokes on Demand</h1>
            <button id="fetchJoke" class="btn">Get a Joke</button>
            <div id="jokeContainer" class="joke-container">
            <p id="joke" class="joke"></p>
            </div>
        </div>

        <script src="/view/js/fetchScript.js"></script>
    </body>
</html>
